<div class="footer-copyright">
    <div class="footer-copyright__logo">
        <figure>
            <img src="assets/sony-ie.svg" class="sony-ie__logo" alt="Sony interactive logo">
        </figure>
        <p>
            © 2023 Sony Interactive Entertainment LLC
            Todo o conteúdo, títulos de jogos, nomes comerciais e/ou designações comerciais, marcas comerciais, arte e imagens associadas são marcas registradas e/ou material sob direitos autorais dos seus respectivos proprietários. Todos os direitos reservados. Mais informações.
        </p>
    </div>
    <div class="footer-copyright__priv">
        <img src="" alt="imagem do certificado de privacidade">
    </div>
</div>